<div>
  <h1>Filtered Todos State</h1>
  <pre>{{ vm.filteredTodos | json }}</pre>

  <ol>
    <li ng-repeat="todo in vm.todos">
      <button ng-click="vm.removeTodo($index)">x</button>
      <span ng-style="todo.completed ? {'text-decoration': 'line-through'} : {'text-decoration': 'initial'}">{{ todo.text }}</span>
    </li>
  </ol>
  <button ng-click="vm.createTodo(vm.todotext)">Add</button>
  <input type="text" ng-model="vm.todotext">
  <ul>
    <li>
      <button ng-click="vm.setVisibility('SHOW_ALL')">Show All</button>
    </li>
    <li>
      <button ng-click="vm.setVisibility('SHOW_COMPLETED')">Show Completed</button>
    </li>
    <li>
      <button ng-click="vm.setVisibility('SHOW_ACTIVE')">Show Active</button>
    </li>
  </ul>
</div>
